<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AvailableProducts</key>
	<dict>
		<key>Widget</key>
		<dict>
			<key>AppIconImageSettings</key>
			<string>image-theme: 0; image-shape: 3; image-opacity: 1.00; image-top-color: 0.2898,0.0428,0.0428; image-bottom-color: 0.4602,0.0628,0.0628; image-radius: 4,4,4,4; image-border: 0; image-border-color: 0.4460,0.0649,0.0642; image-border-width: 2; shine-on: 1; shine-strength: 0.35; shine-alpha-level: 0.00; shine-height: 0.62; glass-arc-height: -0.11; shine-include-bottom: 0; shadow-include-shadow: 1; shadow-blur: 6.00; shadow-offset: 0.00,-3.00; shadow-color: 0.0000,0.0000,0.0000,0.3333;</string>
			<key>CYShineVersion</key>
			<integer>2</integer>
			<key>MainCSS</key>
			<string>main.css</string>
			<key>MainJS</key>
			<string>main.js</string>
			<key>ProductDir</key>
			<string>widget.wdgt</string>
			<key>Steps</key>
			<array>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Video_Podcast_Step_1_Detail</string>
					<key>MainHelp</key>
					<string>Tag(213)</string>
					<key>Required</key>
					<true/>
					<key>Title</key>
					<string>Video_Podcast_Step_1_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Video_Podcast_Step_2_Detail</string>
					<key>MainHelp</key>
					<string>Tag(202)</string>
					<key>Required</key>
					<true/>
					<key>Title</key>
					<string>Video_Podcast_Step_2_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Video_Podcast_Step_3_Detail</string>
					<key>MainHelp</key>
					<string>Tag(203)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Video_Podcast_Step_3_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Video_Podcast_Step_4_Detail</string>
					<key>MainHelp</key>
					<string>Tag(204)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Video_Podcast_Step_4_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<false/>
					<key>Detail</key>
					<string>Video_Podcast_Step_5_Detail</string>
					<key>MainHelp</key>
					<string>Tag(205)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Video_Podcast_Step_5_Title</string>
				</dict>
			</array>
			<key>TemplateIdentifier</key>
			<string>com.apple.Dashcode.template.videopodcast</string>
		</dict>
	</dict>
	<key>CYProjectFormatVersion</key>
	<integer>40</integer>
</dict>
</plist>
